:root {
  --font-primary: "Inter", sans-serif;
  --font-header: "Permanent Marker", cursive;
  --color-bg: #dce1e7;
  --color-bg-card: #f9fafb;
  --color-bg-card-icon: #3f75fe;
  --color-txt: #262528;
  --color-card-header: #111827;
  --color-txt-low-emphasis: #5e5d5d;
  --color-txt-low-emphasis-card: #6b7280;
  --spacing-outer: 5em;
  --spacing-inner: 3em;
  --spacing-min: 1em;
  --spacing-testimonial-inner: 2em;
  --line-height-general: 1.4;
  --font-size-min: 0.9rem;
  --radius-sm: 6px;
  --radius-normal: 8px;
  --radius-lg: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body,
button,
input {
  font-family: var(--font-primary);
}

body {
  background: var(--color-bg);
  color: var(--color-txt);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

p,
.title .badge,
.quote,
.quote-detail,
.tooltip,
.toast {
  line-height: var(--line-height-general);
}

button,
.btn,
.card {
  cursor: pointer;
  transition: all 0.3s;
}

.btn,
.badge {
  border: none;
  background: none;
  font-size: var(--font-size-min);
  padding: 0.4em 0.8em;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

/* Utility  */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Layout  */
.container {
  padding: var(--spacing-outer) 10%;
  max-width: 1350px;
  margin: 0 auto;
}

.main {
  gap: var(--spacing-inner);
}

.section {
  gap: var(--spacing-min);
}

/* Headers  */
.title {
  margin-bottom: var(--spacing-min);
}

.type-header {
  font-size: 1rem;
  color: var(--color-txt-low-emphasis);
}

/* Badges  */
.badge-container {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--spacing-min);
}

.badge {
  color: var(--color-txt-badge);
}

/* Banners  */
.banner {
  padding: var(--spacing-min);
  grid-template-columns: auto 1fr;
  gap: var(--spacing-min);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-min);
}

.banner-txt {
  gap: var(--spacing-min);
}

.banner-title {
  font-weight: bold;
}

/* Cards  */
.card {
  margin-top: 24px;
  padding: 2em 1.5em;
  border-radius: var(--radius-normal);
  background: var(--color-bg-card);
  text-align: center;
  position: relative;
}

@media (min-width: 500px) {
  .card {
    max-width: 350px;
  }
}

.card:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

.card-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: var(--radius-sm);
  background: var(--color-bg-card-icon);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-icon > svg {
  height: 24px;
  width: 24px;
  color: #fff;
}

.card-txt {
  margin-top: var(--spacing-min);
  gap: var(--spacing-min);
  color: var(--color-txt-low-emphasis-card);
}

.card-header {
  color: var(--color-card-header);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

/* Testimonial  */
.testimonial {
  margin-top: calc(100px + var(--spacing-inner));
  color: white;
  padding: var(--spacing-testimonial-inner);
  grid-template-columns: 1fr;
  position: relative;
  max-width: 1280px;
  gap: var(--spacing-inner);
}

.no-img.testimonial {
  grid-template-columns: 1fr;
  margin-top: var(--spacing-inner);
}

.testimonial-img {
  height: 200px;
  width: calc(100% - (var(--spacing-testimonial-inner) * 2));
  object-fit: cover;
  border-radius: var(--radius-lg);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-txt {
  margin-top: 100px;
  font-weight: 500;
}

.no-img .testimonial-txt {
  text-align: center;
  margin-top: 0;
}

.quote {
  font-size: 1.1rem;
  margin-bottom: var(--spacing-min);
}

.quote-detail {
  font-size: var(--font-size-min);
}

@media (min-width: 800px) {
  .testimonial {
    margin-top: var(--spacing-inner);
    grid-template-columns: 25% 1fr;
    display: grid;
  }
  .testimonial-img {
    position: absolute;
    height: 120%;
    width: 25%;
    max-width: 384px;
    top: -10%;
    transform: translateY(0%);
    left: var(--spacing-testimonial-inner);
  }
  .testimonial-txt {
    margin-top: unset;
    grid-column: 2;
  }
}

/* Tooltips  */
.tooltip-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-inner);
}

.tooltip {
  justify-content: start;
  align-items: start;
  gap: var(--spacing-min);
  padding: var(--spacing-min);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-size: var(--font-size-min);
  border-radius: var(--radius-normal);
  position: relative;
  max-width: 500px;
}

.tooltip.black.bold,
.tooltip.black.bold .tooltip-btn,
.tooltip.black.bold .polygon {
  background: #262626;
  color: #c7c7c7;
}

.tooltip.black.light,
.tooltip.black.light .tooltip-btn,
.tooltip.black.light .polygon {
  background: #fff;
  color: #6b7280;
}

.tooltip.blue.bold,
.tooltip.blue.bold .tooltip-btn,
.tooltip.blue.bold .polygon {
  background: #1e40af;
  color: #e8edff;
}

.tooltip.blue.light,
.tooltip.blue.light .tooltip-btn,
.tooltip.blue.light .polygon {
  background: #e0e7ff;
  color: #1c51b9;
}

.tooltip.magenta.bold,
.tooltip.magenta.bold .tooltip-btn,
.tooltip.magenta.bold .polygon {
  background: #a9229b;
  color: #ffe9fd;
}

.tooltip.magenta.light,
.tooltip.magenta.light .tooltip-btn,
.tooltip.magenta.light .polygon {
  background: #fff3fc;
  color: #c7369e;
}

.tooltip.green.bold,
.tooltip.green.bold .tooltip-btn,
.tooltip.green.bold .polygon {
  background: #47aa5d;
  color: #e3ffe9;
}

.tooltip.green.light,
.tooltip.green.light .tooltip-btn,
.tooltip.green.light .polygon {
  background: #e7fff3;
  color: #3c8c4e;
}

.tooltip-icon > svg .tooltip-btn {
  height: 24px;
  width: 24px;
}

.tooltip-header {
  font-weight: 700;
  margin-bottom: 0.2em;
}

.tooltip.bold .tooltip-header {
  color: #fff;
}

.tooltip.black.light .tooltip-header {
  color: #111827;
}

.tooltip.blue.light .tooltip-header {
  color: #1e40af;
}

.tooltip.magenta.light .tooltip-header {
  color: #a9229b;
}

.tooltip.green.light .tooltip-header {
  color: #137a2a;
}

.tooltip-btn {
  padding: 0 0.2em 0.2em 0.2em;
  background: none;
  border: none;
}

.tooltip-btn svg {
  height: 20px;
  width: 20px;
}

.polygon {
  mask-image: url("./assets/images//tooltip-polygon.svg");
  mask-size: cover;
  width: 34px;
  height: 19px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -14px;
  left: 15%;
}

@media (min-width: 850px) {
  .tooltip-wrapper,
  .toast-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* Toast  */
.toast-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-min);
}

.toast {
  padding: var(--spacing-min);
  gap: 0.7em;
  border-radius: var(--radius-normal);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-size: var(--font-size-min);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Ensures it doesn't take up space when hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth fade-in */
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  visibility: visible;
  animation: slideUp 0.3s ease;
}

@keyframes slideUp {
  from {
    transform: translateX(-50%) translateY(20px);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

.toast-title {
  font-weight: bold;
}

.toast-form {
  gap: var(--spacing-min);
}

@media (min-width: 500px) {
  .toast-form {
    max-width: 200px;
  }
}

.toast-label {
  color: var(--color-txt-low-emphasis);
}

.form-select {
  padding: 0.5em;
  border-radius: var(--radius-sm);
}

.form-btn {
  border: none;
  background: var(--color-bg-card-icon);
  color: #fff;
  padding: 0.5em var(--spacing-min);
  border-radius: var(--radius-sm);
}
